footer
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: rgb(255, 255, 255,0.1);
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}
.adv-fot > a
{
    padding: 0px 20px 0px 20px;
    color: var(--add-color);
    transition-duration: 0.1s;
}
.adv-fot > a:hover 
{
    color: var(--text-color)
}